
body{
  color: black;
  background-color: #910439  ;
}


#titulo{
  color:   #fc5c99  ;
  text-align: center;
  font-size: 2.5em;
}

hr{
  color: lightpink;

}

h1, h5{
  color: lightpink;

}
p{
  color: white;
  font-size: 1.5em;
  text-align: center;
}
p.familia{
  color:white;
  font-size: 1.25em;
  text-align: left;
}

div.fam {
  position: absolute;
  top: 10em;
  left: 72em;
  width: 500px;
}

img.imagenpersonal{
  position: relative;
  float: left;
  width: 400px;
  margin: 20px 15px;
  padding: 10px;
  border: 4px double lightpink
}


ul.navbar{
  font-size: 1.5em;
  color: black;
  margin: 20px 600px;
  text-align: center;
  list-style-position: outside;
}

ul.navbarf{
  font-size: 1.2em;
  color: black;
  margin: 0 250px;
}


/*modifica el formato lista*/
ul li.main {
  list-style-type: circle;
  color: pink;
  border:3px double lightpink;
  margin-top: 5px;
  width: 500px;
  padding: 5px;
  text-align: left;
  line-height: 50px;
}
ul li.f {
  list-style-type: georgian;
  color: pink;
  padding: 5px;
  align-items: center;
}

ul.navbar a {
    text-decoration: square
}
a:link {
    color: #fef787
}
a:visited {
    color: pink
}

img.imagenlista{
  margin-left: 10px;
  margin-top: 1px;
  width: 60px;
}

#back-button{
  width: 50px;
}

img.imagenpatriarcas{
  position: relative;
  float: left;
  width: 250px;
  padding: 5px;
  margin-right: 15px;
  border: 1px outset blue;
}

img.imagenhermanos{
  position: absolute;
  width: 333px;
  top: 10.4em;
  left: 50em;
  padding: 5px;
  border: 1px outset blue;
}

#subtitulo{
  margin-top: 75px;
  text-align: center;
  color: #580028;
}

img.sobrinos{
  width: 450px;
  border: 1px outset blue;
}

.container{
  position: relative;
}

.elias{
  position: absolute;
  width: 50px;
  top: 180px;
  left: 610px;
  color: white;
}

.rafael{
  position: absolute;
  width: 50px;
  top: 200px;
  left: 500px;
  color: white;
}

.panchito{
    position: absolute;
    width: 50px;
    top: 150px;
    left: 670px;
    color: white;
}

img.wanda{
  position: absolute;
  top: 75em;
  left: 0em;
  width: 300px;
}

img.josefa{
  position: absolute;
  top: 75em;
  left: 30em;
  width: 300px;
}

img.luffy{
  position: absolute;
  top: 75em;
  left: 55em;
  width: 300px;
}

.criaturas{
  border: 3px outset blue;
  width: 300px;
}

/*de los hobbies*/
.anime{
  align: center;
}

img.onepiece{
  width: 400px;
  height: 200px;
}

.tiktok{
  width: 300px;
}

.video{
  height: 400px;
}

.books{
  height: 300px;
  border: 1px solid blue;
}

ul.curiosidades{
  font-size: 2.2em;
  color: black;
  text-align: left;

}

ul li.curiosidadess{
  list-style-type: square;
  color: pink;
  margin-top: 5px;
  line-height: 50px;

}

img.c{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

#des{
  color: white;
  font-size: 20px;
}
